  {%extends 'base.html' %}
  {%block content%}
  <div class="col">
    <h4 class="text-center">{{message}}</h4>

    {%include 'products/snippets/search.html'%}

    {% if is_paginated %}
      <div class="mt-2">

        <ul class="pagination pagination-lg">

          {% if page_obj.has_previous %}
            <li class="page-item">
              <a href="?page={{ page_obj.previous_page_number }}"class="page-link">Previous</a>
            </li>
          {% else %}

            <li class="page-item disabled">
              <a href="#"class="page-link">Previous</a>
            </li>

          {% endif %}

          {% for i in paginator.page_range %}


              <li class="page-item {% if page_obj.number == i %} active {% endif %}">
                <a href="?page={{ i }}"class="page-link">{{i}}</a>
              </li>

          {% endfor %}


          {% if page_obj.has_next %}
            <li class="page-item">
              <a href="?page={{ page_obj.next_page_number  }}"class="page-link">Next</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a href="#"class="page-link">Next</a>
            </li>
          {% endif %}

        </ul>

      </div>
    {% endif %}
    {% include 'products/snippets/list.html'%}
    <footer class="mt-5">
           <div class="container my-auto">
             <div class="copyright text-center my-auto">
               <span>copyright &copy; <script> document.write(new Date().getFullYear()); </script> - developed by
                 <b><a href="https://indrijunanda.gitlab.io/" target="_blank">jquis812</a></b>
               </span>
             </div>
           </div>
    </footer>
  </div>
  {%endblock%}
